[submodule "tinywav"]
	path = tinywav
	url = https://github.com/mhroth/tinywav
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ImGuiBuild/imgui"]
	path = ImGuiBuild/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tinywavBuild/tinywav"]
	path = tinywavBuild/tinywav
	url = https://github.com/mhroth/tinywav
